/* .signup4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup4-signup4 {
  width: 100%;
  height: 1127px; 
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(15, 1, 26, 1);
}
.signup4-ellipse2 {
  top: -204px;
  left: -708px;
  width: 989px;
  height: 989px;
  position: absolute;
}
.signup4-ellipse3 {
  top: 404px;
  left: 950px;
  width: 691px;
  height: 691px;
  position: absolute;
}
.signup4-frame57 {
  gap: 10px;
  top: 126px;
  left: 392px;
  width: 656px;
  height: 795px;
  display: flex;
  padding: 64px 80px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.03999999910593033);
}
.signup4-group93 {
  top: 225px;
  left: 475px;
  width: 490px;
  height: 596px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-buttons {
  gap: 16px;
  top: 541px;
  left: 138px;
  width: 352px;
  height: 55px;
  display: flex;
  padding: 8px 24px;
  position: absolute;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
}
.signup4-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-frame90 {
  gap: 32px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.signup4-frame71 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup4-text02 {
  color: rgba(171, 0, 255, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text06 {
  color: rgba(255, 255, 255, 1);
  width: 462px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-group85 {
  width: 490px;
  height: 159px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-text08 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-frame70 {
  gap: 10px;
  top: 31px;
  left: 0px;
  width: 490px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05000000074505806);
}
.signup4-frame69 {
  gap: 16px;
  width: 490px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signup4-text10 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text12 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text14 {
  color: rgba(255, 255, 255, 1);
  width: 443px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-group89 {
  width: 490px;
  height: 124px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-group86 {
  top: 0px;
  left: 0px;
  width: 490px;
  height: 124px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-frame89 {
  gap: 16px;
  top: 21px;
  left: 77px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.signup4-group88 {
  width: 48px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-ellipse14 {
  top: 7px;
  left: 0px;
  width: 48px;
  height: 28px;
  position: absolute;
}
.signup4-component15 {
  top: 0px;
  left: 5px;
  width: 38.235294342041016px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.signup4-frame88 {
  top: 0px;
  left: 4px;
  width: 31px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.signup4-group87 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-vector {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 26px;
  position: absolute;
}
.signup4-ellipse12 {
  top: 10px;
  left: 1px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.signup4-ellipse13 {
  top: 10px;
  left: 16px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.signup4-text16 {
  color: rgba(255, 251, 251, 1);
  width: 336px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
} */

.signup4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup4-signup4 {
  width: 100%;
  height: 1127px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(15, 1, 26, 1);
}
.signup4-ellipse2 {
  top: -204px;
  left: -708px;
  width: 989px;
  height: 989px;
  position: absolute;
}
.signup4-ellipse3 {
  top: 404px;
  left: 950px;
  width: 691px;
  height: 691px;
  position: absolute;
}
.signup4-frame57 {
  gap: 10px;
  top: 126px;
  left: 392px;
  width: 656px;
  height: 795px;
  display: flex;
  padding: 64px 80px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.03999999910593033);
}
.signup4-group93 {
  top: 225px;
  left: 475px;
  width: 490px;
  height: 596px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-buttons {
  gap: 16px;
  top: 541px;
  left: 138px;
  width: 352px;
  height: 55px;
  display: flex;
  padding: 8px 24px;
  position: absolute;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  cursor: pointer;
}
.signup4-buttons:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.signup4-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-frame90 {
  gap: 32px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.signup4-frame71 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup4-text02 {
  color: rgba(171, 0, 255, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text06 {
  color: rgba(255, 255, 255, 1);
  width: 462px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-group85 {
  width: 490px;
  height: 159px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-text08 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-frame70 {
  gap: 10px;
  top: 31px;
  left: 0px;
  width: 490px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05000000074505806);
}
.signup4-frame69 {
  gap: 16px;
  width: 490px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signup4-text10 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text12 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-text14 {
  color: rgba(255, 255, 255, 1);
  width: 443px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup4-group89 {
  width: 490px;
  height: 124px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-group86 {
  top: 0px;
  left: 0px;
  width: 490px;
  height: 124px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-frame89 {
  gap: 16px;
  top: 21px;
  left: 77px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.signup4-group88 {
  width: 48px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-ellipse14 {
  top: 7px;
  left: 0px;
  width: 48px;
  height: 28px;
  position: absolute;
}
.signup4-component15 {
  top: 0px;
  left: 5px;
  width: 38.235294342041016px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.signup4-frame88 {
  top: 0px;
  left: 4px;
  width: 31px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.signup4-group87 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup4-vector {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 26px;
  position: absolute;
}
.signup4-ellipse12 {
  top: 10px;
  left: 1px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.signup4-ellipse13 {
  top: 10px;
  left: 16px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.signup4-text16 {
  color: rgba(255, 251, 251, 1);
  width: 336px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}