.signup2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup2-signup2 {
  width: 100%;
  height: 1127px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(15, 1, 26, 1);
}
.signup2-ellipse2 {
  top: -204px;
  left: -708px;
  width: 989px;
  height: 989px;
  position: absolute;
}
.signup2-ellipse3 {
  top: 396px;
  left: 961px;
  width: 691px;
  height: 691px;
  position: absolute;
}
.signup2-frame57 {
  gap: 10px;
  top: 126px;
  left: 392px;
  width: 656px;
  display: flex;
  padding: 64px 80px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.03999999910593033);
}
.signup2-frame65 {
  gap: 64px;
  top: 188px;
  left: 475px;
  width: 490px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
}
.signup2-frame64 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup2-frame63 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup2-frame62 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup2-text {
  color: rgba(255, 255, 255, 1);
  width: 432px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text01 {
  font-weight: 700;
}
.signup2-group83 {
  width: 490px;
  height: 302px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup2-text03 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-frame51 {
  gap: 16px;
  top: 40px;
  left: 0px;
  width: 490px;
  height: 262px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05000000074505806);
}
.signup2-text05 {
  color: rgba(255, 255, 255, 1);
  width: 458px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text07 {
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text09 {
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text11 {
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text13 {
  color: rgba(255, 255, 255, 1);
  width: 463px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text15 {
  color: rgba(255, 255, 255, 1);
  width: 444px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text17 {
  color: rgba(255, 255, 255, 1);
  width: 457px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-text21 {
  color: rgba(255, 255, 255, 1);
  width: 458px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-frame50 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.signup2-buttons {
  gap: 16px;
  width: 107px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
}
.signup2-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup2-buttons1 {
  gap: 16px;
  width: 135px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 15px;
  justify-content: center;
}
.signup2-text25 {
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}


.signup2-buttons {
  gap: 16px;
  width: 107px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  cursor: pointer; /* Add this line */
}

.signup2-buttons1 {
  gap: 16px;
  width: 135px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 15px;
  justify-content: center;
  cursor: pointer; /* Add this line */
}

.signup2-buttons:hover,
.signup2-buttons1:hover {
  background-color: rgba(75, 17, 123, 0.8); /* Optional: Add a hover effect */
}

