.signup3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup3-signup3 {
  width: 100%;
  height: 1127px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(15, 1, 26, 1);
}
.signup3-ellipse2 {
  top: 377px;
  left: -708px;
  width: 989px;
  height: 989px;
  position: absolute;
}
.signup3-ellipse3 {
  top: -79px;
  left: 951px;
  width: 691px;
  height: 691px;
  position: absolute;
}
.signup3-frame56 {
  gap: 10px;
  top: 131px;
  left: 392px;
  width: 656px;
  display: flex;
  padding: 64px 80px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.03999999910593033);
}
.signup3-group84 {
  width: 511px;
  height: 657px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup3-buttons {
  gap: 16px;
  top: 602px;
  left: 249px;
  width: 241px;
  height: 55px;
  display: flex;
  padding: 8px 24px;
  position: absolute;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
}
.signup3-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-frame68 {
  gap: 48px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-frame61 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-text02 {
  color: rgba(171, 0, 255, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 49.8486328125px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-text04 {
  color: rgba(255, 255, 255, 1);
  width: 490px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-frame67 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-frame60 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-frame57 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-text06 {
  color: rgba(255, 255, 255, 1);
  width: 367px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-text08 {
  color: rgba(255, 255, 255, 1);
  width: 490px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-frame58 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-text10 {
  color: rgba(255, 255, 255, 1);
  width: 511px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-text12 {
  color: rgba(255, 255, 255, 1);
  width: 490px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-frame59 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup3-text18 {
  color: rgba(255, 255, 255, 1);
  width: 462px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-text20 {
  color: rgba(255, 255, 255, 1);
  width: 490px;
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.signup3-frame66 {
  gap: 10px;
  width: 490px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05000000074505806);
}
.signup3-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}


.signup3-buttons {
  gap: 16px;
  top: 602px;
  left: 249px;
  width: 241px;
  height: 55px;
  display: flex;
  padding: 8px 24px;
  position: absolute;
  background: linear-gradient(0deg, rgba(171, 0, 255, 1) 0%, rgba(75, 17, 123, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  cursor: pointer; /* Add this line */
}

.signup3-buttons:hover {
  background-color: rgba(75, 17, 123, 0.8); /* Optional: Add a hover effect */
}
